/* .auth-logo {
    height: 80px;
}

.auth-form-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.auth-box-container {
    max-width: 500px;
    border-radius: 8px;
}

.auth-right-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.auth-img-container {
    max-height: 100%;
    width: auto;
}

.auth-footer {
    text-align: center;
    background: #f8f9fa;
} */