.btn-switch-container {
    width: 100%;
}

.btn-switch-field-container {
    background-color: var(--primary-color);
    width: 100%;
}

.btn-switch-label {
    font-weight: 600;
    color: rgba(var(--dark-color-rgb), 0.75);
    font-size: 1em;
}

.btn-switch,
.btn-switch:hover {
    border-radius: 5px !important;
    word-wrap: break-word;
    background-color: var(--primary-color) !important;
    transition: all 0.5s ease;
    width: 50% !important;
}

.btn-switch-selected,
.btn-switch-selected:hover {
    background-color: var(--default-bgcolor) !important;
    color: var(--primary-color) !important;
}